/*---------------------------------------/
 * LAYOUTS
/---------------------------------------*/
.l-center {
  text-align: center;
}
.l-margin {
  margin: 1rem 0;
}
.l-margin_sm {
  margin: 0.5rem 0;
}
.l-wrapper {
  display: flex;
  border-top: 4px solid $c3;
  flex-direction: column;
  min-height: 100vh;
}

.l-contents {
  width: 100%;
  max-width: 410px;
  padding: 0 .5rem;
  margin: 0 auto;
}
