//-------------------------------------
// size
//-------------------------------------

//-------------------------------------
// Color
// http://www.materialui.co/colors
//-------------------------------------
$c1: #283943;
$c2: #F8E3D0;
$c3: #A14246;
$c4: #847464;
$c5: #E2CAB2;

//-------------------------------------
// Fonts
//-------------------------------------
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
$font_family: 'Ubuntu Condensed', sans-serif;

//-------------------------------------
// screen
//-------------------------------------
$m: "(min-width: 479px)";
$l: "(min-width: 920px)";
